body{
	margin: 0;
	padding: 0;
	height: 100%;
}

#main-content{
	min-height: 100vh;
}

.nav-item{
	font-weight: bold;
}

.nav-link.btn{
	background-image: linear-gradient(to right, #f6d365 , #fda085);
	border-radius: 3rem;
	font-weight: 400;
	animation-name: slide;
	animation-duration: 1.5s;
	animation-play-state: paused;
	animation-iteration-count: infinite;
	box-shadow: 0 0 20px #eee;
}

.nav-link.btn:hover {
	animation-play-state: running;
}

@keyframes slide {
	100%{
		background-image: linear-gradient(to right, #fda085 , #f6d365);
	}
}

#center-part{
	height: 60vh;
	background-image: linear-gradient(to bottom right, #FFAA00 , #F1726C);
	border-radius: 10px;
	z-index: 1;
	color: white;
}

#center-part h1{
	line-height: 0.9;
	font-weight: bolder;
}

#discription div{
	height: 30vh;
	z-index: 2;
	margin-top: -15vh;
	background-color: white;
	width: 17vw;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.24);
	padding-top: 10px;
	border-radius: 10px;
	font-weight: bolder;
}

#center-content{
	min-height: 100vh;
}

#center-content h1{
	font-weight: bold;
}

#center-content img{
	width: 50vw;
}