body{
	margin: 0;
	padding: 0;
	height: 100%;
}

#main-content{
	min-height: 100vh;
}

.nav-item{
	font-weight: bold;
}

.nav-link.btn{
	background-image: linear-gradient(to right, #f6d365 , #fda085);
	border-radius: 3rem;
	font-weight: 400;
	animation-name: slide;
	animation-duration: 1.5s;
	animation-play-state: paused;
	animation-iteration-count: infinite;
	box-shadow: 0 0 20px #eee;
}

.nav-link.btn:hover {
	animation-play-state: running;
}

@keyframes slide {
	100%{
		background-image: linear-gradient(to right, #fda085 , #f6d365);
	}
}

#center-part{
	height: 60vh;
	background-image: linear-gradient(to bottom right, #FFAA00 , #F1726C);
	border-radius: 10px;
	z-index: 1;
	color: white;
}

#center-part h1{
	line-height: 0.9;
	font-weight: bolder;
}

#discription div{
	height: 30vh;
	z-index: 2;
	margin-top: -15vh;
	background-color: white;
	width: 17vw;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.24);
	padding-top: 10px;
	border-radius: 10px;
	font-weight: bolder;
}

#center-content{
	min-height: 100vh;
}

#center-content h1{
	font-weight: bold;
}

#center-content img{
	width: 50vw;
}

#card-content{
	min-height: 100vh;
}

#card-content h1{
	font-weight: bolder;
}

.card-group{
	width: 70vw;
	margin: 0 auto;
}

.card{
	border: 0px;
}

#j1{
	padding: 9vh;
	background-image: linear-gradient(to bottom right, rgba(0,50,212,1) , rgba(209,51,255,1) , rgba(0,50,212,1));
	border-radius: 10px;
}

.card:hover {
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.24);
	z-index: 2;
}

.card h3{
	font-weight: bold;
}

#j2{
	padding: 9vh;
	border-radius: 10px;
	background-image: linear-gradient(to bottom right, rgba(70,211,255,1) , rgba(26,251,148,1) , rgba(70,211,255,1));
}

#j3{
	padding: 9vh;
	border-radius: 10px;
	background-image: linear-gradient(to bottom right, rgba(255,144,120,1) , rgba(255,142,210,1) , rgba(255,144,120,1));
}

#j4{
	padding: 9vh;
	border-radius: 10px;
	background-image: linear-gradient(to bottom right, #f6d365 , #fda085 , #f6d365)
}

#secondLast{
	height: 70vh;
	z-index: 1;
}

#last{
	height: 60vh;
	background: #f0f0f0;
	z-index: 1;
	margin-top: -18vh;
}

#last-description{
	z-index: 2;
}

#last-description div{
	height: 36vh;
	z-index: 2;
	margin-top: -18vh;
	width: 22vw;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.24);
	padding-top: 10px;
	border-radius: 10px;
}

#last1{
	background-image: linear-gradient(to bottom right, rgba(255, 144, 120, 1) , rgba(255, 142, 210, 1));
	color: white;
}

#last2{
	background-image: linear-gradient(to bottom right, rgba(70, 211, 255, 1) , rgba(26, 251, 148, 1));
	color: white;
}
#last-description div h2{
	font-weight: bold;
}